main,
body,
* {
 padding: 0;
 margin: 0;
 box-sizing: border-box;
 font-size: 62.5%;
 font-family: 'Roboto', sans-serif;
}

:root {
 --light-background: rgb(255, 254, 249);
 --light-header: rgb(255, 239, 215);
 --light-itembg: rgb(227, 240, 255);

 --dark-background: rgb(54, 54, 54);
 --dark-itembg: rgb(150, 150, 150);
 --dark-header: rgb(0, 137, 123);

 --background: rgb(255, 254, 249);
 --header: rgb(255, 239, 215);
 --itembg: rgb(227, 240, 255);
}
.dark {
 --background: var(--dark-background);
 --header: var(--dark-header);
 --itembg: var(--dark-itembg);
}
.light {
 --background: var(--light-background);
 --header: var(--light-header);
 --itembg: var(--light-itembg);
}
body {
 background-color: var(--background);
}
.filter-button {
 width: 10%;
 height: 50px;
 font-size: 2rem;
}

h1 {
 margin: auto;
 width: 40%;
 text-align: center;
 font-size: 5rem;
 background-color: var(--header);
 border: 3px solid black;
 border-radius: 10px;
 margin-top: 10px;
 margin-bottom: 10px;
}

.menu {
 display: flex;
 justify-content: space-evenly;
 flex-wrap: wrap;
 flex-direction: row;
}

.menu-object {
 width: 26%;
 text-align: center;
 background-color: var(--itembg);
 border: 3px solid black;
 border-radius: 10px;
 margin-bottom: 20px;
}

.menu-image {
 margin: 10px;
 width: 90%;
}

h2 {
 font-size: 5rem;
}

.menu-object-text {
 font-size: 2rem;
 margin: 10px;
}

.menu-object-price {
 font-size: 2rem;
 font-weight: 600;
}
.filters {
 text-align: center;
 margin-bottom: 10px;
}
#theme-button {
 position: absolute;
 top: 0;
 right: 0;
 width: 20rem;
 height: 5rem;
 font-size: 2rem;
 border-radius: 10px;
}
#day {
 position: absolute;
 top: 0;
 left: 1rem;
 width: 20rem;
 height: 5rem;
 font-size: 2rem;
}